//DailySummary.vue
<template>
  <div>
    <h2>Daily Summary</h2>
    <p>Total Calories: {{ totalCalories }}</p>
  </div>
</template>

<script>
export default {
  props: ['foods'],
  computed: {
    totalCalories() {
      return this.foods.reduce((total, food) => total + food.calories, 0);
    }
  }
}
</script>
