//FoodForm.vue
<template>
  <div>
    <form>
      <div class="form-group">
        <label for="food">Food:</label>
        <input type="text" class="form-control" v-model="food">
      </div>
      <div class="form-group">
        <label for="calories">Calories:</label>
        <input type="number" class="form-control" v-model="calories">
      </div>
      <button class="btn btn-primary" @click.prevent="addFood()">Add Food</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      food: '',
      calories: 0
    }
  },
  methods: {
    addFood() {
      this.$emit('add-food', {
        food: this.food,
        calories: this.calories
      });
      this.food = '';
      this.calories = 0;
    }
  }
}
</script>



