//FoodList.vue
<template>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Food</th>
          <th>Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(food, index) in foods" :key="index">
          <td>{{ food.food }}</td>
          <td>{{ food.calories }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: ['foods']
}
</script>