<template>
  <div class="container">
    <h1 class="title">Food Tracker</h1>
    <b-row>
      <b-col cols="8">
        <food-form @add-food="addFood"></food-form>
        <food-list :foods="foods"></food-list>
      </b-col>
      <b-col cols="4">
        <daily-summary :foods="foods"></daily-summary>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import FoodForm from './components/FoodForm.vue';
import FoodList from './components/FoodList.vue';
import DailySummary from './components/DailySummary.vue';
import axios from 'axios';

export default {
  components: {
    FoodForm,
    FoodList,
    DailySummary
  },
  data() {
    return {
      foods: []
    }
  },
  methods: {
    addFood(food) {
      axios.post('http://localhost:3000/foods', food)
        .then(response => {
          this.foods.push(response.data);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    axios.get('http://localhost:3000/foods')
      .then(response => {
        this.foods = response.data;
      })
      .catch(error => {
        console.log(error);
      });
  }
}
</script>

<style>
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
</style>
